body {
    font-family: 'Pretendard Variable';
    letter-spacing: -0.1px;
    background-color: lightblue;
  }
  
.layout{
  padding-top: 65px;

  max-width: 390px;
  min-height: 100vh;
  
  margin: 0 auto;
  background-color: white;
}